# Local database — never upload this
payslip.db

# Ignore files folder
../files/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db